In [1]:
import kfold_target_encoder as kf
import seaborn as sns

In [2]:
df = sns.load_dataset('exercise')
df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [3]:
kf.k_target_encode(df,'kind','diet',5,'low fat')

   Unnamed: 0  id diet pulse    time      kind
57         57  20    0   102   1 min  5.888889
19         19   7    0    88  15 min  4.222222
55         55  19    0    98  15 min  5.888889
88         88  30    0   111  15 min  2.555556
34         34  12    1   103  15 min  5.888889
..        ...  ..  ...   ...     ...       ...
73         73  25    1   110  15 min  2.333333
23         23   8    0    95  30 min  4.333333
32         32  11    1    84  30 min  5.333333
80         80  27    0   140  30 min  2.333333
5           5   2    1    93  30 min  4.333333

[90 rows x 6 columns]